name: Run Cypress Tests

on:
  workflow_dispatch:   # Дозволяє запускати вручну кнопкою

jobs:
  cypress-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Run Cypress tests
        run: npx cypress run --spec "cypress/e2e/OzanKaraliMedium/openOzanKarali.cy.js"